In [1]:
import pandas as pd

In [3]:
df = pd.read_json('News_Category_Dataset_v3.json', lines=True)

In [4]:
df.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209527 entries, 0 to 209526
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   link               209527 non-null  object
 1   headline           209527 non-null  object
 2   category           209527 non-null  object
 3   short_description  209527 non-null  object
 4   authors            209527 non-null  object
 5   date               209527 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 9.6+ MB

In [7]:
len(pd.unique(df['category']))

42

In [9]:
pd.unique(df['category'])

array(['U.S. NEWS', 'COMEDY', 'PARENTING', 'WORLD NEWS', 'CULTURE & ARTS',
       'TECH', 'SPORTS', 'ENTERTAINMENT', 'POLITICS', 'WEIRD NEWS',
       'ENVIRONMENT', 'EDUCATION', 'CRIME', 'SCIENCE', 'WELLNESS',
       'BUSINESS', 'STYLE & BEAUTY', 'FOOD & DRINK', 'MEDIA',
       'QUEER VOICES', 'HOME & LIVING', 'WOMEN', 'BLACK VOICES', 'TRAVEL',
       'MONEY', 'RELIGION', 'LATINO VOICES', 'IMPACT', 'WEDDINGS',
       'COLLEGE', 'PARENTS', 'ARTS & CULTURE', 'STYLE', 'GREEN', 'TASTE',
       'HEALTHY LIVING', 'THE WORLDPOST', 'GOOD NEWS', 'WORLDPOST',
       'FIFTY', 'ARTS', 'DIVORCE'], dtype=object)

In [11]:
keep_categories = ['U.S. NEWS', 'CULTURE & ARTS', 'TECH', 'SPORTS', 'ENTERTAINMENT', 'POLITICS', \
                   'ARTS & CULTURE', 'ENVIRONMENT', 'EDUCATION', 'CRIME', 'STYLE & BEAUTY', 'STYLE'\
                   'FOOD & DRINK', 'MEDIA','TASTE','HEALTHY LIVING','HOME & LIVING', 'WOMEN','GOOD NEWS']

In [14]:
df_new = df.loc[df['category'].isin(keep_categories)]
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100793 entries, 0 to 209526
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   link               100793 non-null  object
 1   headline           100793 non-null  object
 2   category           100793 non-null  object
 3   short_description  100793 non-null  object
 4   authors            100793 non-null  object
 5   date               100793 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 5.4+ MB

In [19]:
df_cropped = df_new[0:10000]

In [20]:
len(pd.unique(df_cropped['category']))

13

In [21]:
df_cropped2 = df[0:10000]
len(pd.unique(df_cropped2['category']))

29

In [22]:
docs = df_cropped['headline']
docs

0        Over 4 Million Americans Roll Up Sleeves For O...
1        American Airlines Flyer Charged, Banned For Li...
4        Woman Who Called Cops On Black Bird-Watcher Lo...
5        Cleaner Was Dead In Belk Bathroom For 4 Days B...
6        Reporter Gets Adorable Surprise From Her Boyfr...
                               ...
13524    Limits On Federal Gun Research Spur States To ...
13525    State Department's Top Diplomat On North Korea...
13526    Majority Of Voters Want Trump To Do More To Co...
13528    South Carolina State Rep Is Giving Away Guns T...
13529    Stacey Dash Of 'Clueless' Files To Run For Con...
Name: headline, Length: 10000, dtype: object